# Data Science challenge

Amadeus Data Science challenge  
Master Data Science, KSchool 2019/2020

In [1]:
import pandas as pd

<font color='red'> **Cuidado:** </font> los ficheros tienen un tama√±o importante

## Exercise 1  
Count the number of lines in Python for each file

In [5]:
!ls

DS_Challenge.ipynb  README.md  bookings.csv  searches.csv

In [11]:
test_searches = pd.read_csv("./searches.csv", nrows = 10, sep = '^')
test_searches

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL
5,2013-01-01,22:00:28,MPT,3561a60621de06ab1badc8ca55699ef3,US,IAH,BLR,1,2,IAH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
6,2013-01-01,10:47:14,MPT,d327ca6e35cc6732d4709828327ac7c1,DK,CPH,PAR,1,2,CPH,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CPH
7,2013-01-01,23:39:49,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,PAR,DUB,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
8,2013-01-01,17:08:46,MPT,c8daef4f8bf73a61aa2c928705f7b82d,ES,DUS,ACE,1,2,DUS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
9,2013-01-01,19:57:57,MPT,28d7a8c95e4db88589d3d35b66920e78,DE,FRA,BGW,1,2,FRA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BNJ

In [21]:
piece_size = 1000000

line_count = 0

for piece in pd.read_csv("./searches.csv", chunksize = piece_size, sep = '^'):
    line_count = line_count + len(piece.index)
    
print('searches.csv has '+ str(line_count)+' lines')

/home/arcones/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/arcones/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/arcones/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (29,30,31,32,33,34,35,36,37,38,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

searches.csv has 20390198 lines

In [23]:
piece_size = 1000000

line_count = 0

for piece in pd.read_csv("./bookings.csv", chunksize = piece_size, sep = '^'):
    line_count = line_count + len(piece.index)
    
print('searches.csv has '+ str(line_count)+' lines')

/home/arcones/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

searches.csv has 10000010 lines

**Tip:** no hace falta descomprimir los archivos, se puede acceder en formato comprimido

In [2]:
pd.read_csv("./searches.csv.bz2", nrows = 10, sep = '^')

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL
5,2013-01-01,22:00:28,MPT,3561a60621de06ab1badc8ca55699ef3,US,IAH,BLR,1,2,IAH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
6,2013-01-01,10:47:14,MPT,d327ca6e35cc6732d4709828327ac7c1,DK,CPH,PAR,1,2,CPH,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CPH
7,2013-01-01,23:39:49,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,PAR,DUB,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
8,2013-01-01,17:08:46,MPT,c8daef4f8bf73a61aa2c928705f7b82d,ES,DUS,ACE,1,2,DUS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
9,2013-01-01,19:57:57,MPT,28d7a8c95e4db88589d3d35b66920e78,DE,FRA,BGW,1,2,FRA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BNJ

### Soluciones en clase

In [3]:
!ls -l

total 8768852
-rw-rw-rw- 1 arcones arcones      31436 Jan 11 09:16 DS_Challenge.ipynb
-rw-rw-rw- 1 arcones arcones         95 Jan 10 09:35 README.md
-rw-rw-rw- 1 arcones arcones 4244874509 Jan 10 09:47 bookings.csv
-rw-rw-rw- 1 arcones arcones  554970628 Jan 11 09:14 bookings.csv.bz2
-rw-rw-rw- 1 arcones arcones 3696229366 Jan 10 09:47 searches.csv
-rw-rw-rw- 1 arcones arcones  483188920 Jan 11 09:14 searches.csv.bz2

In [4]:
! bzcat bookings.csv.bz2 | head -10000 > bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = bookings.csv.bz2, output file = (stdout)

In [5]:
!bzip2 -f bookings.sample.csv

In [6]:
!ls -l

total 8769432
-rw-rw-rw- 1 arcones arcones      33003 Jan 11 09:24 DS_Challenge.ipynb
-rw-rw-rw- 1 arcones arcones         95 Jan 10 09:35 README.md
-rw-rw-rw- 1 arcones arcones 4244874509 Jan 10 09:47 bookings.csv
-rw-rw-rw- 1 arcones arcones  554970628 Jan 11 09:14 bookings.csv.bz2
-rw-rw-rw- 1 arcones arcones     535893 Jan 11 09:23 bookings.sample.csv.bz2
-rw-rw-rw- 1 arcones arcones 3696229366 Jan 10 09:47 searches.csv
-rw-rw-rw- 1 arcones arcones  483188920 Jan 11 09:14 searches.csv.bz2

In [8]:
pd.read_csv("./bookings.sample.csv.bz2", sep='^').head(10)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546
5,2013-03-20 00:00:00,1V,US,0283592e45e392871f7e14b1e22a9aaf,2d0f8e7e1bb792625d2f34f221bc38f1,d54708298686de200f8270e7c637af5e,2013-03-20 00:00:00,5923,0,DEN,...,DENLGA,FK,W,Y,2013-04-07 10:23:00,2013-04-07 16:14:24,1,2013,3,NULL
6,2013-03-20 00:00:00,1V,US,0283592e45e392871f7e14b1e22a9aaf,2d0f8e7e1bb792625d2f34f221bc38f1,d54708298686de200f8270e7c637af5e,2013-03-20 00:00:00,5923,0,DEN,...,LGADEN,FK,K,Y,2013-04-11 11:15:00,2013-04-11 13:06:24,1,2013,3,NULL
7,2013-03-25 00:00:00,1V,JP,5af045902bd23cab579915611d99e1e0,5073861d8597467c33596bfe16f23c56,a37584d1485cb35991e4ff1a2ba92262,2013-03-25 00:00:00,8371,60,NRT,...,NRTSIN,XR,Q,Y,2013-04-14 11:05:00,2013-04-14 17:10:56,2,2013,3,NULL
8,2013-03-25 00:00:00,1V,JP,5af045902bd23cab579915611d99e1e0,5073861d8597467c33596bfe16f23c56,a37584d1485cb35991e4ff1a2ba92262,2013-03-25 00:00:00,8371,60,NRT,...,SINPEN,WS,Y,Y,2013-04-16 15:45:00,2013-04-16 17:15:29,2,2013,3,NULL
9,2013-03-25 00:00:00,1V,JP,5af045902bd23cab579915611d99e1e0,5073861d8597467c33596bfe16f23c56,a37584d1485cb35991e4ff1a2ba92262,2013-03-25 00:00:00,8371,60,NRT,...,PENBKK,EQ,Y,Y,2013-04-18 08:00:00,2013-04-18 08:53:56,2,2013,3,NULL

**Solutions in Python without pandas**

In [12]:
import bz2

In [16]:
with bz2.BZ2File('./bookings.csv.bz2') as fileBz2:
    k=0
    for line in fileBz2:
        k+=1
print(k)

10000011

In [17]:
with bz2.BZ2File('./bookings.csv.bz2') as fileBz2:
    for k, line in enumerate(fileBz2):
        pass
print(k+1)

10000011

In [20]:
try:
    with bz2.BZ2File('./bookings.sample.zzzz.csv.bz2') as fileBz2:
        for k, line in enumerate(fileBz2):
            pass
    print(k+1)
except FileNotFoundError as mess1:
    print('Wrong file')
except:
    print('Unexpected error')

Wrong file

## Exercise 2

**Top 10 arrival airports in the world in 2013 (using the bookings file)**

- Arrival airport is the column arr_port. It is the IATA code for the airport

- To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port. Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

- Print the top 10 arrival airports in the standard output, including the number of passengers.

*Bonus point:* Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)
Bonus point: Solve this problem using pandas (instead of any other approach)

**1) Get familiar with data**

In [15]:
df_test = pd.read_csv("./bookings.csv.bz2", sep='^', nrows=9999)
df_test.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

Using sample helps you find if data beyond the first lines is OK

In [5]:
pd.set_option('display.max_columns', None) #esto mejor tenerlo al inicio y ya

In [14]:
df_test.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
5377,2013-03-18 00:00:00,1P,US,4804033f441ee30d92980c8b2207e8ae,4868da7a1666bbbc5fe33d377690f8eb,9ca82701fa7faeacf094bbee4e93e652,2013-02-28 00:00:00,8786,0,JFK,NYC,US,MIA,MIA,US,JFK,NYC,US,MIA,MIA,US,JFK,NYC,US,JFKMIA,MIANYC,USUS,0,MIAJFK,NV,L,Y,2013-03-22 07:45:00,2013-03-22 10:36:57,-2,2013,3,NULL
90,2013-03-23 00:00:00,1P,US,0bde7b929573cf16e0d52637cf0735d2,f187f1dfcac9833a7d7f90de67b24181,d1f2909099fb62d339b00c0c7ccf94b3,2013-03-21 00:00:00,7404,0,MKE,MKE,US,CVG,CVG,US,MKE,MKE,US,CVG,CVG,US,MKE,MKE,US,CVGMKE,CVGMKE,USUS,0,CVGMKE,NV,L,Y,2013-05-10 16:05:00,2013-05-10 16:29:03,1,2013,3,NULL
1902,2013-03-10 00:00:00,1S,US,26fe6c5a1aac7520b1a2bd31bf26e959,754cf02f7d3109bf57d21d72e34b162c,79070fe067b960720ad4e0f46b7b8482,2013-02-28 00:00:00,3123,0,ATL,ATL,US,RIC,RIC,US,ATL,ATL,US,RIC,RIC,US,ATL,ATL,US,ATLRIC,ATLRIC,USUS,0,RICATL,NV,T,Y,2013-03-20 17:58:00,2013-03-20 19:40:29,-1,2013,3,NULL
5258,2013-03-29 00:00:00,1V,US,fe4fecde5346a8ec2ed1fa3747bf9863,140fe067bd05f6a33a178dd15508e9e7,a0c1fa9681b406f590f820f5f236d6b2,2013-02-28 00:00:00,20444,0,MCO,ORL,US,BCN,BCN,ES,MCO,ORL,US,SVQ,SVQ,ES,MCO,ORL,US,MCOSVQ,ORLSVQ,ESUS,1,SVQMADMIAMCO,KK,N,Y,2013-07-05 13:35:00,2013-07-05 23:44:51,-2,2013,3,NULL
6299,2013-03-05 00:00:00,1P,IL,60a5bca716de87f7f8d60d2e281d4e97,5547c0a5e16434cad874dcf4581ba973,220e759dd265963bb7b507284d4a1c39,2013-03-05 00:00:00,9071,0,TLV,TLV,IL,MSU,MSU,LS,TLV,TLV,IL,TLV,TLV,IL,MSU,MSU,LS,MSUTLV,MSUTLV,ILLS,1,TLVISTJNBMSU,EU,D,C,2013-03-05 21:20:00,2013-03-06 14:44:30,2,2013,3,NULL

In [10]:
df_test.groupby('arr_port').count().sort_values(by='source', ascending=False).head(10)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
arr_port,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
LHR,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212
LAX,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202
JFK,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175
ORD,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175,175
SFO,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
CDG,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151,151
LGA,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150,150
MNL,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129,129
PVG,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122
HKG,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122

In [16]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [17]:
df_test.describe()

            duration      distance         intl          pax    year   month
count    9999.000000   9999.000000  9999.000000  9999.000000  9999.0  9999.0
mean    20209.746075    455.608861     0.596260     0.516152  2013.0     3.0
std     42243.233482   1738.891068     0.490671     1.783970     0.0     0.0
min        59.000000      0.000000     0.000000   -25.000000  2013.0     3.0
25%      3339.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      7721.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     19077.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    488131.000000  18481.000000     1.000000    25.000000  2013.0     3.0

In [18]:
df_test.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

Top most activities (changes in a reservation)

In [19]:
df_test.groupby('rloc          ')['act_date           '].count().sort_values(ascending=False).head(10)

rloc
ae15bcfc5aec0eb64b2c5204d08201d5    42
fb72a3899ed1cd353c5830388935e7f5    23
cd96f7b7fdb5743769053ba273c7eb5f    20
6b7878dd4ac59772e14ab4760ab45ad0    20
68aee71ee0f40aff44ed341f2c5f8627    16
2a86eac3e29c922f4a439fbc0480985b    15
58ee9c6852513816a39363a1621a0615    14
503d8dde8034a48c262b3f5764fc60ca    14
c9f19404e4f0755c40deaebd6e90ea84    13
182485c12b7e38aa6e2d24f7484c019b    12
Name: act_date           , dtype: int64

Exploring the most active

In [22]:
df_test[df_test['rloc          '] =='ae15bcfc5aec0eb64b2c5204d08201d5'].sort_values(by='act_date           ', ascending = True)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
7745,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7746,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7747,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7748,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7749,2013-03-02 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7750,2013-03-02 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7751,2013-03-04 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7752,2013-03-04 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7756,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
7755,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
7753,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7754,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
7757,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7758,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7759,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7760,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7761,2013-03-09 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7762,2013-03-09 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7763,2013-03-11 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7988,2013-03-11 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7992,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
7991,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
7989,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7990,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
7993,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7994,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7995,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7996,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7997,2013-03-16 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7998,2013-03-16 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
8000,2013-03-18 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7999,2013-03-18 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
8004,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
8003,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
8001,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
8002,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
8005,2013-03-23 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
8007,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
8006,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,16396,12823,JFK,NYC,US,JNB,JNB,ZA,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
8008,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
8009,2013-03-30 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
8010,2013-03-30 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL

In [24]:
df_test.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [25]:
columns_of_interest = ['arr_port', 'pax', 'year']

This next cell contains all the code to run (and to get up to date)

In [33]:
import pandas as pd
pd.set_option('display.max_columns', None)
b = pd.read_csv('bookings.csv.bz2', sep='^', usecols=columns_of_interest, nrows=9999)
b=b.dropna()

In [28]:
b.shape

(9999, 3)

**Action plan:**  

- filter 2013
- group by arr_port
- sum of pax
- sort the sum
- print top 10

In [36]:
b[b['year']==2013].groupby('arr_port')['pax'].sum().sort_values(ascending=False).head(10)

arr_port
HKG         112
LGA          95
ORD          94
JFK          92
SFO          91
LAX          91
MCO          90
DCA          82
DEN          79
LHR          76
Name: pax, dtype: int64

Now, working on the whole file, by chunks

In [37]:
bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=columns_of_interest, nrows=9999, iterator=True)

In [40]:
#Cada vez que le pides un chunk coge el siguiente a donde se qued√≥ en el anterior
b0=bi.get_chunk(1000)
b0.head()

      arr_port  pax  year
2000  LHE         1  2013
2001  HBE        -1  2013
2002  HBE         1  2013
2003  HBE        -1  2013
2004  ICN        -1  2013

In [46]:
import pandas as pd
bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=columns_of_interest, nrows=9999, chunksize=3000)

all_chunks = pd.DataFrame()

for i,b in enumerate(bi):
    print(i, len(b))
    b = b.dropna()
    b = b[ b['year']==2013]
    del b['year']
    result = b.groupby(['arr_port']).sum()
    all_chunks = all_chunks.append(result)

all_chunks.head(10)

result_all = all_chunks.reset_index().groupby('arr_port').sum().sort_values(by='pax', ascending=False).reset_index()
result_all.head(10)

0 3000
1 3000
2 3000
3 999

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

In [49]:
%%time
import pandas as pd
bi = pd.read_csv('bookings.csv.bz2', sep='^', usecols=columns_of_interest, chunksize=1000000)

all_chunks = pd.DataFrame()

for i,b in enumerate(bi):
    print(i, len(b))
    b = b.dropna()
    b = b[ b['year']==2013]
    del b['year']
    result = b.groupby(['arr_port']).sum()
    all_chunks = all_chunks.append(result)

all_chunks.head(10)

result_all = all_chunks.reset_index().groupby('arr_port').sum().sort_values(by='pax', ascending=False).reset_index()
result_all.head(10)

0 1000000
1 1000000
2 1000000
3 1000000
4 1000000
5 1000000
6 1000000
7 1000000
8 1000000
9 1000000
10 10
CPU times: user 1min 49s, sys: 1.31 s, total: 1min 50s
Wall time: 1min 36s

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  MIA       58150.0
8  SFO       58000.0
9  DXB       55590.0

In [48]:
result_all.shape

(2274, 2)

In [50]:
#%pip install neobase

Collecting neobase
  Downloading https://files.pythonhosted.org/packages/d8/f2/0ca4a5818f8271f7c6d59bb336c28db931e22b51330947983be86ba4ea12/NeoBase-0.20.2.tar.gz (3.2MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 3.2MB 2.4MB/s eta 0:00:01
Collecting argparse (from neobase)
  Downloading https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Building wheels for collected packages: neobase
  Building wheel for neobase (setup.py) ... done
  Created wheel for neobase: filename=NeoBase-0.20.2-cp37-none-any.whl size=3222020 sha256=3584eed7cab89e5fad145f23f1cd93bfbf7058287e313546958aa898bcdd87c7
  Stored in directory: /home/arcones/.cache/pip/wheels/f2/e0/a1/798ba3be3b5e9d00394376068d895114f574c06f6954dafc59
Successfully built neobase
Installing collected packages: argparse, neobase
Successfully installed argparse-1.4.0 neobase-0.20.2
Note: you may need to restart the kernel to use updated packages.

In [51]:
import neobase as nb

In [52]:
dir(nb)

['LatLng',
 'NeoBase',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'neobase']

In [55]:
from neobase import NeoBase
help(NeoBase)

Help on class NeoBase in module neobase.neobase:

class NeoBase(builtins.object)
 |  NeoBase(rows=None, date=None)
 |
 |  Main structure, a wrapper around a dict, with dict-like behavior.
 |
 |  Methods defined here:
 |
 |  __contains__(self, key)
 |      Test if a key is in the base.
 |
 |      :param key: the key of to be tested
 |      :returns:   a boolean
 |
 |      >>> b = NeoBase()
 |      >>> 'AN' in b
 |      False
 |      >>> 'AGN' in b
 |      True
 |
 |  __init__(self, rows=None, date=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b)
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  __len__(self)
 |      Testing structure size.
 |
 |      :returns: a integer
 |
 |      >>> b = NeoBase()
 |      >>> 18000 < len(b) < 20000
 |      True
 |
 |  __nonzero__(self)
 |      Testing structure emptiness.
 |
 |      :returns: a boolean
 |
 |      >>> b = NeoBase()
 |      >>> if b:
 |      ...     print('not empty')
 |      not empty
 |
 |  distance(self, key_0, key_1)
 |      Compute distance between two elements.
 |
 |      This is just a wrapper between the original haversine
 |      function, but it is probably the most used feature :)
 |
 |      :param key_0: the first key
 |      :param key_1: the second key
 |      :returns:    the distance (km)
 |
 |      >>> b = NeoBase()
 |      >>> b.distance('ORY', 'CDG')
 |      34.87...
 |
 |  find_closest_from_location(self, lat_lng, N=1, from_keys=None)
 |      Concept close to find_near_location, but here we do not
 |      look for the keys radius-close to a location,
 |      we look for the closest key from this location, given by
 |      latitude/longitude.
 |
 |      Note that a similar implementation is done in
 |      the LocalHelper, to find efficiently N closest location
 |      in a graph, from a location (using heaps).
 |
 |      :param lat_lng:   the lat_lng of the location
 |      :param N:         the N closest results wanted
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform find_closest_from_location. This is useful to combine             searches
 |      :returns:   one key (like 'SFO'), or a list if approximate is not None
 |
 |      >>> b = NeoBase()
 |      >>> list(b.find_closest_from_location((43.70, 7.26))) # Nice
 |      [(0.60..., 'NCE@1')]
 |      >>> list(b.find_closest_from_location((43.70, 7.26), N=3)) # Nice
 |      [(0.60..., 'NCE@1'), (5.82..., 'NCE'), (5.89..., 'XBM')]
 |
 |  find_near(self, key, radius=50, from_keys=None)
 |      Same as find_near_location, except the location is given
 |      not by a lat/lng, but with its key, like ORY or SFO.
 |      We just look up in the base to retrieve lat/lng, and
 |      call find_near_location.
 |
 |      :param key:     the key of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       a list of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.find_near('ORY', 10)) # Orly, por <= 10km
 |      [(0.0, 'ORY'), (6.94..., 'XJY'), (9.96..., 'QFC')]
 |
 |  find_near_location(self, lat_lng, radius=50, from_keys=None)
 |      Returns a list of nearby keys from a location (given
 |      latidude and longitude), and a radius for the search.
 |      Note that the haversine function, which compute distance
 |      at the surface of a sphere, here returns kilometers,
 |      so the radius should be in kms.
 |
 |      :param lat_lng: the lat_lng of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       an iterable of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> # Paris, airports <= 50km
 |      >>> [b.get(k, 'iata_code') for d, k in sorted(b.find_near_location((48.84, 2.367), 5))]
 |      ['PAR', 'XGB', 'XHP', 'XPG', 'XEX']
 |
 |  find_with(self, conditions, from_keys=None, reverse=False)
 |      Get iterator of all keys with particular field.
 |
 |      For example, if you want to know all airports in Paris.
 |
 |      :param conditions: a list of (field, value) conditions
 |      :param reverse:    we look keys where the field is *not* the particular value
 |      :returns:          an iterator of matching keys
 |
 |      Testing several conditions.
 |
 |      >>> b = NeoBase()
 |      >>> c0 = [('city_code_list', ['PAR'])]
 |      >>> c1 = [('location_type', ['H'])]
 |      >>> len(list(b.find_with(c0)))
 |      16
 |      >>> len(list(b.find_with(c0 + c1)))
 |      2
 |
 |  get(self, key, field=None, default=<object object at 0x7fab61c8b3a0>)
 |      Get data from structure.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('OR', 'city_code_list', default=None)
 |      >>> b.get('ORY', 'city_code_list')
 |      ['PAR']
 |
 |  get_location(self, key, default=<object object at 0x7fab61c8b3a0>)
 |      Get None or the geocode.
 |
 |      >>> b = NeoBase()
 |      >>> b.get_location('ORY')
 |      LatLng(lat=48.72..., lng=2.35...)
 |
 |  keys(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.keys())
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  set(self, key, **data)
 |      Set information.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('ORY', 'name')
 |      'Paris Orly Airport'
 |      >>> b.set('ORY', name='test')
 |      >>> b.get('ORY', 'name')
 |      'test'
 |      >>> b.set('Wow!', name='test')
 |      >>> b.get('Wow!', 'name')
 |      'test'
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  load(f, date) from builtins.type
 |      Building a dictionary of geographical data from optd_por.
 |
 |      >>> path = op.join(op.dirname(__file__), 'optd_por_public.csv')
 |      >>> with open_(path) as f:
 |      ...     b = NeoBase.load(f, '2030-01-01')
 |      >>> b['ORY']['city_code_list']
 |      ['PAR']
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  distance_between_locations(l0, l1)
 |      Great circle distance
 |
 |      :param l0: the LatLng tuple of the first location
 |      :param l1: the LatLng tuple of the second location
 |      :returns:  the distance in kilometers
 |
 |      >>> NeoBase.distance_between_locations((48.84, 2.367), (43.70, 7.26)) # Paris -> Nice
 |      683.85...
 |
 |      Case of unknown location.
 |
 |      >>> NeoBase.distance_between_locations(None, (43.70, 7.26)) # returns None
 |
 |  skip(row, date)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DUPLICATES = True
 |
 |  FIELDS = (('iata_code', 0, None), ('name', 6, None), ('lat', 8, None),...
 |
 |  KEY = 0

In [65]:
geoDict=NeoBase()

In [66]:
geoDict.get('LHR')

{'__dup__': set(),
 'iata_code': 'LHR',
 'name': 'London Heathrow Airport',
 'lat': '51.4775',
 'lng': '-0.461389',
 'page_rank': 0.44517643489228376,
 'country_code': 'GB',
 'country_name': 'United Kingdom',
 'continent_name': 'Europe',
 'timezone': 'Europe/London',
 'city_code_list': ['LON'],
 'city_name_list': ['London'],
 'location_type': ['A'],
 'currency': 'GBP'}

In [59]:
result_all.head(3)

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0

In [61]:
result_all.arr_port[0]

'LHR     '

In [60]:
result_all.arr_port[0].strip()

'LHR'

In [63]:
result_all['arr_port'] = result_all['arr_port'].str.strip()

**Now, get the names of the airports**

In [67]:
result_all['Airport_name'] = result_all['arr_port'].map(lambda x: geoDict.get(x)['name'])

KeyError: 'Key not found: CPQ'

In [68]:
result_all = result_all[result_all['arr_port'] != 'CPQ']

In [69]:
result_all['Airport_name'] = result_all['arr_port'].map(lambda x: geoDict.get(x)['name'])

In [70]:
result_all.head()

  arr_port      pax                           Airport_name
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport

In [71]:
result_all.to_csv('top_airports.csv', sep='^', index=False)

In [72]:
!ls -l

total 1014736
-rw-rw-rw- 1 arcones arcones    237193 Jan 11 13:34 DS_Challenge.ipynb
-rw-rw-rw- 1 arcones arcones        95 Jan 10 09:35 README.md
-rw-rw-rw- 1 arcones arcones 554970628 Jan 11 09:14 bookings.csv.bz2
-rw-rw-rw- 1 arcones arcones    535893 Jan 11 09:23 bookings.sample.csv.bz2
-rw-rw-rw- 1 arcones arcones 483188920 Jan 11 09:14 searches.csv.bz2
-rw-rw-rw- 1 arcones arcones     82425 Jan 11 13:34 top_airports.csv