# Exercise 5

### Web service

In [1]:
import json

In [2]:
json.dumps(list("abcde"))

'["a", "b", "c", "d", "e"]'

In [4]:
json.dumps({'a':1, 'b':2, 'c':3})

'{"a": 1, "b": 2, "c": 3}'

In [5]:
myDict = {'name':['Hola', 'Hello'], 'age':[31,32], 'city':['Madrid', 'NY']}
myDict

{'name': ['Hola', 'Hello'], 'age': [31, 32], 'city': ['Madrid', 'NY']}

In [6]:
import pandas as pd

In [7]:
df_dict = pd.DataFrame.from_dict(myDict)
df_dict

    name  age    city
0   Hola   31  Madrid
1  Hello   32      NY

In [8]:
df_dict.to_json()

'{"name":{"0":"Hola","1":"Hello"},"age":{"0":31,"1":32},"city":{"0":"Madrid","1":"NY"}}'

In [9]:
df_dict = pd.DataFrame.from_dict(myDict, orient='index')
df_dict

           0      1
name    Hola  Hello
age       31     32
city  Madrid     NY

In [10]:
df_dict.to_json()

'{"0":{"name":"Hola","age":31,"city":"Madrid"},"1":{"name":"Hello","age":32,"city":"NY"}}'

In [11]:
ls

DS_Challenge.ipynb  Untitled.ipynb    bookings.sample.csv.bz2  top_airports.csv
README.md           bookings.csv.bz2  searches.csv.bz2

In [14]:
df = pd.read_csv('top_airports.csv', sep='^')
df

     arr_port      pax                             Airport_name
0         LHR  88809.0                  London Heathrow Airport
1         MCO  70930.0            Orlando International Airport
2         LAX  70530.0        Los Angeles International Airport
3         LAS  69630.0           McCarran International Airport
4         JFK  66270.0    John F. Kennedy International Airport
...       ...      ...                                      ...
2268      MYJ    -80.0                        Matsuyama Airport
2269      UPG    -90.0  Sultan Hasanuddin International Airport
2270      XWG    -90.0                       Gare de Strasbourg
2271      MZV   -350.0                             Mulu Airport
2272      AYQ  -1270.0                       Ayers Rock Airport

[2273 rows x 3 columns]

In [15]:
df.head(50).to_json()

'{"arr_port":{"0":"LHR","1":"MCO","2":"LAX","3":"LAS","4":"JFK","5":"CDG","6":"BKK","7":"MIA","8":"SFO","9":"DXB","10":"ORD","11":"FCO","12":"IST","13":"DFW","14":"CUN","15":"MAD","16":"BCN","17":"LGA","18":"ATL","19":"EWR","20":"BOS","21":"DEL","22":"SYD","23":"BOM","24":"MUC","25":"DEN","26":"MNL","27":"HKG","28":"FRA","29":"ORY","30":"SEA","31":"FLL","32":"TXL","33":"AMS","34":"PHX","35":"DCA","36":"MEX","37":"IAH","38":"JED","39":"PVG","40":"YYZ","41":"VIE","42":"LIS","43":"SIN","44":"CAI","45":"HNL","46":"ATH","47":"MEL","48":"SAN","49":"JNB"},"pax":{"0":88809.0,"1":70930.0,"2":70530.0,"3":69630.0,"4":66270.0,"5":64490.0,"6":59460.0,"7":58150.0,"8":58000.0,"9":55590.0,"10":53200.0,"11":45120.0,"12":43850.0,"13":42420.0,"14":42000.0,"15":41410.0,"16":41200.0,"17":40712.0,"18":39780.0,"19":36890.0,"20":35840.0,"21":35680.0,"22":33690.0,"23":33440.0,"24":33180.0,"25":32630.0,"26":32400.0,"27":32020.0,"28":31970.0,"29":31800.0,"30":31530.0,"31":31170.0,"32":30590.0,"33":30580.0,"34":29730.0,"35":29000.0,"36":28120.0,"37":28090.0,"38":27090.0,"39":26630.0,"40":26070.0,"41":25750.0,"42":25050.0,"43":24874.0,"44":24640.0,"45":24140.0,"46":24100.0,"47":23830.0,"48":23720.0,"49":23710.0},"Airport_name":{"0":"London Heathrow Airport","1":"Orlando International Airport","2":"Los Angeles International Airport","3":"McCarran International Airport","4":"John F. Kennedy International Airport","5":"Paris Charles de Gaulle Airport","6":"Suvarnabhumi Airport","7":"Miami International Airport","8":"San Francisco International Airport","9":"Dubai International Airport","10":"Chicago O\'Hare International Airport","11":"Leonardo da Vinci\\u2013Fiumicino Airport","12":"Istanbul Airport","13":"Dallas\\/Fort Worth International Airport","14":"Canc\\u00fan International Airport","15":"Adolfo Su\\u00e1rez Madrid\\u2013Barajas Airport","16":"Barcelona\\u2013El Prat Airport","17":"La Guardia Airport","18":"Hartsfield-Jackson Atlanta International Airport","19":"Newark Liberty International Airport","20":"Logan International Airport","21":"Indira Gandhi International Airport","22":"Sydney International Airport","23":"Chhatrapati Shivaji Maharaj International Airport","24":"Munich International Airport","25":"Denver International Airport","26":"Ninoy Aquino Manila International Airport","27":"Hong Kong International Airport","28":"Frankfurt Airport","29":"Paris Orly Airport","30":"Seattle-Tacoma International Airport","31":"Fort Lauderdale\\/Hollywood International Airport","32":"Berlin Tegel Airport","33":"Amsterdam Airport Schiphol","34":"Phoenix Sky Harbor International Airport","35":"Ronald Reagan Washington National Airport","36":"Benito Ju\\u00e1rez International Airport","37":"George Bush Intercontinental Airport","38":"Jeddah King Abdul Aziz International Airport","39":"Shanghai Pudong International Airport","40":"Toronto Pearson International Airport","41":"Vienna International Airport","42":"Lisbon Humberto Delgado Airport","43":"Singapore Changi Airport","44":"Cairo International Airport","45":"Daniel K. Inouye International Airport","46":"Athens Eleftherios Venizelos International Airport","47":"Melbourne Airport","48":"San Diego International Airport","49":"O.R. Tambo International Airport"}}'